h1 {
    color: orange;
}

div {
    border: solid;
    border-width: 1px;
    height: 140px;
    width: 260px;
    padding: 10px;
    background: rgb(97, 97, 97);
}
 
div>div {
    height: 120px;
    width: 240px;
    padding: 10px;
    background-color: gray;
}
 
div>div div:first-child {
    height: 100px;
    width: 220px;
    padding: 10px;
    background-color: rgb(191, 191, 191);
}

div>div div:first-child>div {
    height: 80px;
    width: 200px;
    padding: 10px;
    background-color: rgb(151, 151, 151);
 }
 
div>div div:first-child div div {
    height: 60px;
    width: 180px;
    background-color: rgb(167, 167, 167);
}

li {
    list-style: none;
}

li:hover {
    background: pink;
    font-size: 20px;
}

li::before {
    content: '-';
}

li:first-child {
    color: green;
} 

li:nth-child(odd) {
    font-size: 16px;
}

li:nth-child(3n+1) {
    background: yellow;
}
