ul {
    padding-left: 0px;
}

li {
    list-style: none;
}

li:first-child {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid;
}

li:last-child {
    border-bottom: 1px solid gray;
}

li:hover {
    background-color: aqua; 
    text-decoration: underline;
}

form {
    background-color: rgba(153, 205, 50, 0.734);
    width: 200px;
    margin-bottom: 20px;
}

input, button {
    height: 20px;
    margin: 10px 0px 5px 10px;
}

input.checkbox {
    height: 30px;
}

tr:nth-child(odd) {
    color: darkslategrey;
    background-color: antiquewhite;
}

tr:nth-child(even) {
    color: brown;
    background-color: rgb(223, 192, 151);
}

thead tr td {
    background-color: rgb(255, 183, 0) !important;
    color: black;
    font-weight: bold;
}

td:nth-child(3), td:nth-child(4) {
    text-align: center;
}

td:last-child {
    text-align: right;
}

.conteiner {
    width: 810px;
    border: solid;
}

.conteiner>div {
    display: flex;
    flex-flow: row wrap;
}

.main {
    width: 270px;
    padding: 10px;
    margin-top: 20px;
}

.main+div, .main+div+div{
    width: 270px;
}

.main>div {
    border: solid;
    height: 50px;
    width: 100px;
    margin: 10px;
}